
.not-found-container{
    position: relative;
    background-color: rgb(25, 25, 25);
    height: 100vh;
    width: 100%;

    .not-found{
        color: red;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
    }
}

