.admin-layout {
  // display: flex;
  height: 100vh;
}
header{
  width: 100vw;
  display: inline;
}
.sidebar {
  width: 220px;
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 10px;
   text-decoration: none;
  
}
.sidebar a {
  text-decoration: none;
  color: inherit; /* giữ nguyên màu chữ hiện tại */
}

.sidebar a:hover {
  text-decoration: none;
}
.sidebar li.active a {
  font-weight: bold;
  color: blue;
}

.main {
  flex: 1;
  overflow: auto;
}
