.header {
  width: 88%;
  margin: auto;
}

.container-doctor-selection {
  width: 88%;
  margin: 0 auto;
  padding: 15px;
  min-height: 280px;
  position: relative;
  background-color: #79ADFA;
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.search-box,
.department-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  max-width: 220px; 
  transition: all 0.2s ease-in-out;
}

.search-box:focus,
.department-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  outline: none;
}

.doctor-list {
  background: #eef5ff;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
  min-height: 250px; 
  position: relative;
}

.doctor-card {
  display: flex;
  align-items: center;
  width: 92%;
  background: white;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 70px; 
  gap: 8px;
  margin: auto;
}

.doctor-card:hover {
  background: #98bfe6;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}
.doctor-avatar {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px; 
  font-size: 10px;
  font-weight: bold;
  color: #555;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.doctor-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
}

.doctor-name, .doctor-spec, .doctor-exp  {
  font-weight: 500;
  font-size: 18px;
  // margin-bottom: 2px;
  margin-left: 5%;
}

.doctor-price {
  color: red;
  font-weight: bold;

}

.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  position: fixed;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: auto;
  min-width: 120px;
}

.pagination button {
  padding: 4px 8px;
  border: 1px solid #007bff;
  background: white;
  cursor: pointer;
  border-radius: 3px;
}

.pagination button:hover {
  background: #007bff;
  color: white;
}

.pagination .active {
  background: #007bff;
  color: white;
}
