@media screen and (max-width: 768px) {
    html{
        font-size: 10px;
    }
}

.auth-layout-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(236, 236, 236);
    overflow: auto;
}

.body{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding-inline: 1rem;
}