.sidebar {
    width: 30%;
    height: auto;
    display: block;
    background-color: #ffffff;
    padding: 0.5rem;
    // box-shadow: -4px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 0rem 0rem 1rem;

    a {
        width: 250px;
        display: block;
        padding: 15px;
        font-size: 20px;
        border-bottom: 1px solid rgb(79, 78, 78);
        color: black;
        span {
            font-size: 10px;
            padding: 5px;
            float: left;
        }
    }
    .calendar {
        display: block;
    }
}
