.user-manager {
 background-color: #9ec9ff;
  flex: 1;
   
  padding: 30px;
 overflow: auto;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: center;
    }

    th {
      background-color: #f0f0f0;
    }

    select {
      padding: 5px;
    }
  }
}




.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
}

.modal-content select {
  margin-top: 10px;
  padding: 6px;
}
.butoon1 {
  display: flex;
  justify-content: center; /* căn giữa nếu cần */
  gap: 20px;
  margin-top: 12px; /* nếu muốn thêm khoảng cách với phía trên */
}

.confirm-btn {
  background-color: #5cb85c;
  color: white;
  padding: 8px 20px;
  margin-top: 12px;
  border: none;
  cursor: pointer;
}

.huy-btn{
 background-color: #ed0c0c;
  color: white;
  padding: 8px 20px;
  margin-top: 12px;
  border: none;
  cursor: pointer;
}


.filter-role {
  margin-bottom: 20px;
}

.filter-role select {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.filter-role select:hover {
  border-color: #999;
}

.status-label {
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px;
  display: inline-block;
  font-size: 13px;

  &.normal {
    background-color: #d4f5dc;
    color: #2e8b57;
  }

  &.lock {
    background-color: #ffe0e0;
    color: #c0392b;
  }
}
